  {% extends "base.html" %}
  {% block content %}
  <h1>Measure distance from a fixed place to another</h1>
  <p class="fs-5 col-md-8">Personal test project to measure distance in kilometers from a fix point in the Moscow Ring Road to a specified location.</p>

  <div class="mb-5">
    <a href="{{ url_for('locator.index') }}" class="btn btn-primary btn-lg px-5"> Calculate </a>
  </div>

  <hr class="col-3 col-md-2 mb-5">
  <div class="row g-5">
    <div class="col-md-6">
      <h1>Other Projects</h1>
      <p>Feel fre to take a look on my other personal projects at github</p>
      <ul class="icon-list">
        <li><a href="https://github.com/betows/credito-todxs" rel="noopener" target="_blank">Credit proposal page (Portuguese)</a></li>
        <li><a href="https://github.com/betows/Jogoteca" rel="noopener" target="_blank">CRUD Game library with login (Portuguese)</a></li>
        <li><a href="https://github.com/betows/Distance_Meter" rel="noopener" target="_blank">Distance Meter (English)</a></li>
      </ul>
    </div>

    <div class="col-md-6">
      <h1>Personal Resume Website</h1>
      <p>Review my skills and learn about me at my personal webpage.</p>
      <ul class="icon-list">
        <li><a href="https://betows.github.io">Personal Webpage (English)</a></li>

      </ul>
    </div>
  </div>
  {% endblock %}