{% extends "base.html" %}
{% block content %}
<div id="map"></div>        
<div id="fields">
    <form method="post">
        <input type="hidden" name="lat_orig" value="55.756272" readonly>
        <input type="hidden" name="lon_orig" value="37.618746" readonly>
        <input type="hidden" name="lat_dest" id="lat_dest" value="{{ distance_result.lat_dest }}" readonly>
        <input type="hidden" name="lon_dest" id="lon_dest" value="{{ distance_result.lng_dest }}" readonly>
        <button class="btn btn-primary btn-block button-calc" type="submit" >Calculate</button>                
    </form>
</div>

<div id="result">
    
    <table class="table table-bordered">
        <thead>
            <td colspan="2" style="text-align:center"><b>RESULTS</b></td>
        </thead>
        <tr>
            <td>Destination</td>
            <td>{{ distance_result.dest_addresses }}</td>
        </tr>
        <tr>
            <td>Distance</td>
            <td>{{ distance_result.distance }}</td>
        </tr>
        <tr>
            <td>Duration</td>
            <td>{{ distance_result.duration }}</td>
        </tr>
    </table>
</div>
<hr />
<div id="history">
    <table class="table table-bordered">
        <thead>
            <td colspan="4" style="text-align:center"><b>HISTORY</b></td>            
        </thead>
        <tr>
            <td style="text-align:center">TIMESTAMP</td>
            <td style="text-align:center">ADDRESSES</td>
            <td style="text-align:center">DISTANCE</td>
            <td style="text-align:center">DURATION</td>
        </tr>
        {% for row in history %}                
            <tr>
                <td>{{ row.timestamp }}</td>
                <td>{{ row.dest_addresses }}</td>
                <td>{{ row.distance }}</td>
                <td>{{ row.duration }}</td>
            </tr>                    
        {% endfor %}            
    </table>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgkgurLfDaHnRcCNcLbyxZ26EZ56__xGI&libraries=&v=weekly" async></script>
<script src="{{ url_for('static', filename='js/map.js') }}"></script>
{% endblock %}